PyYAML==6.0  # ofa needs it
autograd==1.5
fairseq==0.12.2
numba==0.56.4
numpy==1.23.5
ofa==0.1.0.post202203231606
pandas==1.5.2
pymoo==0.6.0
requests==2.28.1
scikit-learn==1.2.0
scipy==1.9.3
torch==1.13.0
torchprofile==0.0.4
torchvision==0.14.0
tqdm==4.64.1  # ofa needs it
